/***********Color Pallette***********/
@white: #FFFFFF;
@black: #000000;
@grey-lt: #E8ECF0;
@grey-md: #C1CCD3;
@grey-dk: #333333;
@teal: #40B8C8;
@purple: #4F3A95;
/****other****/
@error: #E81C57;
@success: #72D2A4;
/**********************************/

/* CSS declarations go here */
.centerp{
  text-align:center;
}
.margin-auto {
  display:block;
  margin:auto;
}
.inline-center {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.matchProcessCriteria {
  padding-left: 0px;
}
.addextobj {
  padding-bottom:15px;
  padding-top:15px;
}
.sysddl li a{
  border-bottom: solid 1px;
  padding: 3px 10px;
  color: #FFFFFF;
  border-color:#000000;
}
.sysddl{
  padding: 0px;
}

.loader-lg{
  margin: auto;
  border: 16px solid @grey-md;
  border-radius: 50%;
  border-top: 16px solid @teal;
  border-bottom: 16px solid @teal;
  width: 240px;
  height: 240px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader-md{
  margin: auto;
  border: 8px solid @grey-md;
  border-radius: 50%;
  border-top: 8px solid @teal;
  border-bottom: 8px solid @teal;
  width: 96px;
  height: 96px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader-sm{
  margin: auto;
  border: 3px solid @grey-md;
  border-radius: 50%;
  border-top: 3px solid @purple;
  border-bottom: 3px solid @purple;
  width:24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader-xs{
  margin: auto;
  border: 2px solid @purple;
  border-radius: 50%;
  border-top: 2px solid @white;
  border-bottom: 2px solid @white;
  width:16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert{
  border: none;
  border-radius: 0;
}
.alert.alert-danger{
  color: @error;
  background-color: @white
}
.alert.alert-success{
  color: @success;
  background: @white
}
.alert span {
  font-weight: bold;
  text-transform: uppercase;
}
 h1.page_title{
  margin-left: 10px;
  font-size: 40px;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  color:@black;
}
body .container.body .right_col {
  background: @grey-lt;
}
body {
    position: relative;
    overflow-x: hidden;
}
body,
html {
  height: 100%;
  color: @black;
  background: @grey-lt;
  /*#ECF0F1; #FCFCFC*/
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}

/************Match Page Vertify Object Wizard*************/
.x_wizard {
  margin-bottom: 10px;
  background: #fff;
  border: none;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  display:table;
  width:100%;
}
.x_wizard ul.nav{
  display:table-row;
}
.x_wizard ul.nav li {
  display:table-cell;
  float:none;
  border-radius:0;
  vertical-align: middle;
  text-align:center;
  width:20%;
}
.x_wizard ul.nav li.active a {
  background:transparent !important;
  background:@teal !important;
  border-radius:0;
  margin: 0;
}
.nav-pills>li>a {
  color: @teal;
}
.nav-pills>li>a:hover {
  color: @teal;
  background-color: transparent;
}
.nav-pills>li:hover {
  color: #fff;
  background-color: #f6f6f6;
}
.nav-pills>li + li,
.nav-pills li.active {
    margin-left: 0px;
}
/*************************************/
.active a span.glyphicon {
  text-align: right !important;
}
.nav {
  .open>a {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}

.nav-sm .hidden-small {
  visibility: hidden;
}
.nav-sm .navbar.nav_title {
  width: 70px;
}
.nav-sm .navbar.nav_title a span {
  display: none;
}
.nav-sm .navbar.nav_title a i {
  font-size: 27px;
  margin: 13px 0 0 3px;
}

.nav-sm .nav.side-menu li a {
  text-align: center !important;
  font-weight: 400;
  font-size: 10px;
  padding: 10px 5px;
}
.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
  border-right: 5px solid #1ABCCC;
}
.nav-sm ul.nav.child_menu ul,
.nav-sm .nav.side-menu li.active-sm ul ul {
    position: static;
    width: 200px;
    background: none;
}
.nav-sm > .nav.side-menu > li.active-sm > a {
  color: @teal !important;
}
.nav-sm .nav.side-menu li a i.toggle-up {
  display: none !important;
}
.nav-sm .nav.side-menu li a i {
  font-size: 25px !important;
  text-align: center;
  width: 100% !important;
  margin-bottom: 5px;
}
.nav-sm ul.nav.child_menu {
  left: 100%;
  position: absolute;
  top: 0;
  width: 210px;
  z-index: 4000;
  background: #001217;
  display: none;
}
.nav-sm ul.nav.child_menu li {
  padding: 0 10px;
}
.nav-sm ul.nav.child_menu li a {
  text-align: left !important;
}
.nav-sm .profile {
  display: none;
}
.nav-sm .menu_section {
  margin: 0;
}
.nav-sm span.fa,
.nav-sm .menu_section h3 {
  display: none;
}
.nav-sm li li span.fa {
  display: inline-block;
}
.nav-sm footer {
  margin-left: 70px ;
}
.navbar {
  margin-bottom: 0
}
.navbar-header {
  background: #34495E;
}
.navbar-right {
  margin-right: 0;
}
.dropdown-menu {
    margin:0;
    font-size: 16px;
    border: none;
    border-top: 8px solid #40B8C8;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.top_nav .dropdown-menu {
    min-width: 240px;
}
.navbar-nav .open .dropdown-menu {
  position: absolute;
  background: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  -webkit-box-shadow: none;
  right: 0;
  left: auto;
  width: 220px;
}
.navbar-nav .open .dropdown-menu.msg_list {
  width: 300px;
}
.navbar-static-top {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav.side-menu> li {
  position: relative;
  display: block;
  cursor: pointer;
}
.nav.side-menu> li > a {
  margin-bottom: 6px;
}
.nav.side-menu> li > a:hover {
  color: @teal !important;
}
.nav.side-menu>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background: transparent;
}
/* HIDE child_menu
.nav.child_menu {
  display: none;
}*/
.nav.child_menu{
    overflow: hidden;
    position: relative;
    top: 0;
}
.nav.child_menu > li > a {
  color: @white;
  font-size: 14px;
  padding: 9px 9px 9px 25px;
}
.nav.child_menu li a:hover,
.nav.child_menu li a.active {
  background-color: @grey-md
}
.nav.side-menu>li>a, .nav.child_menu>li>a {
  color: @white;
  font-weight: 500;
}
.nav.child_menu li a:hover,
.nav.child_menu li a.active {
  background: none;
}
.nav.child_menu li a:hover,
.nav.child_menu li a.active {
  color: @teal;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 13px 15px 12px;
}
.nav.side-menu> li a.current-page,
.nav.side-menu> li a.active {
  border-right: 5px solid @teal;
  background: @grey-dk; //rgba(255,255,255,0.2);
}
.nav.side-menu> li a {
  font-size:14px;
  border-right: 5px solid @black;
}
.nav.side-menu> li a i {
    margin-right: 3px;
}
.nav li.current-page {
  background-color: BB00BB;
}
.nav li li li.current-page {
  background-color: BD8E00;
}
.nav li li.current-page a {
  color-color: #BBBB00;
}
.navbar-brand, .navbar-nav>li>a {
  font-weight: 500;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
  line-height: 32px;
}
.nav.navbar-nav>li>a {
  color: #515356 !important;
}
.navbar-nav>li>a,
.navbar-brand,
.navbar-nav>li>a {
  color: #fff !important;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}
.nav.top_menu>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #34495E !important;
}
.nav-md .container.body .right_col {
  padding: 50px 20px 0;
  position: relative;
}
.nav-md .container.body .col-md-3.left_col {
  padding: 0;
  position: relative;
  display: flex;
}
.nav-col.col-md-2 {
  padding:0;
  background: @black;
  min-height: 100vh;
  height: 100%;
  padding-bottom:90px
}
.nav-col.col-md-2 .left_col {
    padding: 0;
}
.left_col .profile {
  padding: 10px 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 9;
  border-top: 3px solid @teal;
  display: table;
}
.body-col.col-md-10 {
  padding:0;
}
.nav_title {
  float: left;
  border-radius: 0;
  border:none;
  height: 55px;
  width: 100%
}
.nav_title a.site_title {
  display:table-cell;
  vertical-align:middle;
}
@media (max-width: 991px) {
  .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
    width: 100%;
    margin: 0;
  }
  .nav-md .container.body .col-md-3.left_col {
    display: none;
  }
  .nav-md .container.body .right_col {
    width: 100%;
    padding-right: 0
  }
  .right_col {
    padding: 10px !important;
  }
}
.main_menu span.glyphicon {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #C4CFDA;
}
.menu_section {
  margin-bottom: 35px;
}
.menu_section h3 {
  padding-left: 23px;
  color: #83879C;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 10px;
  text-shadow: 1px 1px #000;
}
.img-circle.profile_img {
  width: 100%;
  z-index: 10;
  position: inherit;
}
.profile_pic {
  width: 30%;
  display:table-cell;
  vertical-align:middle;
}
.profile_info {
  padding: 0px 10px;
  width: 70%;
  display:table-cell;
  vertical-align:middle;
}
.profile_info span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3px;
  color: @white;
}
.profile_info h2 {
  font-size: 18px;
  color: @white;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
}
.site_title i {
  border: 1px solid #FFF;
  padding: 5px 6px;
  border-radius: 50%;
}
.site_title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin-left: 0 !important;
  display: block;
  height: 55px;
  margin: 0;
}
.site_title img {
    max-width: 100%;
    padding:0 25px;
}
.site_title:hover, .site_title:focus {
  text-decoration: none
}
.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover {
  background: #CCCCCC;
  border-color: #777777;
}
.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover {
  background: #EEEEEE;
}
.top_nav .navbar-right {
  margin: 0;
  width: 70%;
  float: right;
}
.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static;
}
@media (min-width: 480px) {
  .top_nav .navbar-right li {
    position: relative;
  }
}
.top_nav .dropdown-menu li {
  width: 100%;
}
.top_nav .dropdown-menu li a {
  width: 100%;
  padding: 12px 20px;
}
.top_nav li a i {
  font-size: 15px
}
.nav-tabs li#wkspcddl{
  margin:0 auto;
  margin-left:25%;
  margin-bottom:0px;
  padding-top:2px;
  padding-bottom:2px;
}
@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px;
  }
  .tile, .graph {
    zoom: 85%;
    height: inherit;
  }
}
@media (max-width: 1270px) and (min-width: 192px) {
  .x_title h2 small {
    display: none
  }
}

/****/
.container {
  width: 100%;
  padding: 0
}
.main_container .top_nav {
  height: 55px;
  background: @grey-md;
  width: 100%;
  position: relative;
  z-index:1;
}
.main_container {}
.no-padding {
  padding: 0 !important;
}
.fixed_height_320 {
  height: 320px;
}
.fixed_height_390 {
  height: 390px;
}
.fixed_height_200 {
  height: 200px;
}
.overflow_hidden {
  overflow: hidden
}
table.no-margin .progress {
  margin-bottom: 0;
}
.main_content {
  padding: 10px 20px;
}
@media (min-width: 192px) and (max-width: 1270px) {
  table.tile_info span.right {
    margin-right: 7px;
    float: left;
  }
}
.center-margin {
  margin: 0 auto;
  float: none!important;
}
label{
  margin-top:5px;
  margin-bottom:0;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.grid_slider .col-md-6 {
  padding: 0 40px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
a {
  color: #5A738E;
  text-decoration: none;
}
a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: 0;
}
a:hover, a:focus {
  text-decoration: none
}
.toggle {
  position: absolute;
  left: 0;
  top: 0;
}
.toggle a {
  padding: 10px 16px;
  margin: 0;
  cursor: pointer;
  display:block;
}
.toggle a i {
  font-size: 26px;
  padding: 4px 0 0;
  color: @black;
}
.panel_toolbox {
  float: right;
  min-width: 70px;
}
.panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.panel_toolbox>li>a:hover {
  background: #F5F7FA;
}
.line_30 {
  line-height: 30px;
}
.main_menu_side {

}
.bs-docs-sidebar .nav>li>a {
  display: block;
  padding: 4px 6px;
}
footer {
  background: #fff;
  padding: 15px 20px;
  display: block;
}
@media (min-width: 768px) {
  footer {
    margin-left: 230px;
  }
}
.tile-stats.sparkline {
  padding: 10px;
  text-align: center;
}
.tiles {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  padding-top: 5px;
  margin-bottom: 0;
}
.tile {
  overflow: hidden;
}
.top_tiles {
  margin-bottom: 0;
}
.top_tiles .tile span {}
.top_tiles .tile h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 3px 0 7px;
  font-weight: bold;
}
article.media {
  width: 100%;
}

/* Nav card tiles */
.navCards {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  width:100%;
  align-items: flex-start;
  align-content: flex-start;
}
.navCard {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  width: inherit;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px;
}
.navCardHeaderIncomplete {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
  border: none;
  border-radius: 0;
  text-align: left;
  padding: 0;
  background-color: @teal;
  color: @white;
}
.navCardHeaderComplete {
  display: flex;
  flex-flow: row wrap;
  width: inherit;
  border-radius: 0;
  text-align: left;
  padding: 0;
  background-color: @teal;
  color: #FFF;
}
.navCardIcon {
  font-size: 4em;
  padding: 10px;
  top: 0px;
}
.glyphicon-ok-circle.navCardIcon {
  background:@success;
}
.glyphicon-play-circle.navCardIcon {
  background: rgba(255,255,255,0.25);
}
.navCardDesc {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  flex: 2 0 0;
}
.navCardTitle {
  text-align: left;
  font-size: 1.6em;
  font-weight: bold;
}
.navCardText {
  text-align: left;
  font-size: 1em;
}
.navTiles{
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
.navTile {
  display: flex;
  flex-flow: column nowrap;
  width: 240px;
  justify-content: center;
  padding: 10px 0 0 10px;
}
.navTileHeader {
  border: 3px solid @teal;
  border-radius: 0px;
  padding: 10px;
  color: @white;
  background-color: @teal;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.navTileHeader:hover {
  border: 3px solid;
  border-radius: 0px;
  padding: 10px;
  color: @teal;
  background-color: @white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.navTileIcon {
  display: flex;
  font-size: 80px;
  padding-top: 10px;
  justify-content: center;
  order: 1;
}
.navTileTitle {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  order: 2;
}
.navTileText {
  display: flex;
  font-size: 14px;
  font-weight:500px;
  order:3;
}
/* END Nav card tiles*/


/* *********  custom accordion  **************************** */
.expand {
  display: block;
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.expand h2 {
  width: 85%;
  float: left;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
#left, #right {
  display: table;
}
#sup {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
.right-arrow {
  width: 10px;
  float: right;
  font-weight: bold;
  font-size: 20px;
}
.x_panel {
  position: relative;
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: @white;
  border: 1px solid @grey-lt;
  opacity: 1;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.x_row {
  position: relative;
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
}
.x_title {
  border-bottom: 2px solid @grey-lt;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.x_title .filter {
  width: 40%;
  float: right;
}
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x_title h2 small {
  margin-left: 10px;
}
.x_title span {
  color: @black;
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}
.x_content h4 {
  font-size: 16px;
  font-weight: 400;
}
legend {
  padding-bottom: 7px;
}
/* *********  dashboard widget  **************************** */
.dashboard-widget {
  background: #f6f6f6;
  border-top: 5px solid #79C3DF;
  border-radius: 3px;
  padding: 5px 10px 10px;
}
.dashboard-widget .dashboard-widget-title {
  font-weight: normal;
  border-bottom: 1px solid #c1cdcd;
  margin: 0 0 10px 0;
  padding-bottom: 5px;
  padding-left: 40px;
  line-height: 30px;
}
.dashboard-widget .dashboard-widget-title i {
  font-size: 100%;
  margin-left: -35px;
  margin-right: 10px;
  color: #33a1c9;
  padding: 3px 6px;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  background: #fff;
}
ul.quick-list {
  width: 45%;
  padding-left: 0;
  display: inline-block;
}
ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.quick-list li i {
  padding-right: 10px;
  color: #757679;
}
.dashboard-widget-content {
  padding-top: 9px;
}
.dashboard-widget-content .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid @purple;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 5px;
  margin-top: 10px;
}
.widget_summary {
  width: 100%;
  display: inline-flex;
}
.widget_summary .w_left {
  float: left;
  text-align: left;
}
.widget_summary .w_center {
  float: left;
}
.widget_summary .w_right {
  float: left;
  text-align: right;
}
.widget_summary .w_right span {
  font-size: 20px;
}
.w_20 {
  width: 20%
}
.w_25 {
  width: 25%
}
.w_55 {
  width: 55%
}
h5.graph_title {
  text-align: left;
  margin-left: 10px
}
h5.graph_title i {
  margin-right: 10px;
  font-size: 17px
}
span.right {
  float: right;
  font-size: 14px !important
}
.tile_info a {
  text-overflow: ellipsis;
}
.sidebar-footer {
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  z-index: 1000;
  background: #02252B;
}
.sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #001217;
}
.sidebar-footer a:hover {
  background: #02252B;
}

/** top tiles  */
.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;
}
.tile_count .tile_stats_count {
  border-bottom: 1px solid #D9DEE4;
  padding: 0 10px 0 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
@media (min-width: 992px) {
  .tile_count .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 10px;
  }
}
.tile_count .tile_stats_count:before {
  content:"";
  position: absolute;
  left: 0;
  height: 65px;
  border-left: 2px solid #ADB2B5;
  margin-top: 10px;
}
@media (min-width:992px) {
  .tile_count .tile_stats_count:first-child:before {
    border-left: 0;
  }
}
.tile_count .tile_stats_count .count {
  font-size: 30px;
  line-height: 47px;
  font-weight: 600;
}
@media (min-width:768px) {
  .tile_count .tile_stats_count .count {
    font-size: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .tile_count .tile_stats_count .count {
    font-size: 30px;
  }
}
.tile_count .tile_stats_count span {
  font-size: 12px;
}
@media (min-width:768px) {
  .tile_count .tile_stats_count span {
    font-size: 13px;
  }
}
.tile_count .tile_stats_count .count_bottom i {
  width: 12px;
}
/** /top tiles **/

.dashboard_graph {
  background: #fff;
  padding: 7px 10px;
}
.dashboard_graph .col-md-9, .dashboard_graph .col-md-3 {
  padding: 0;
}
a.user-profile {
  color: #5E6974 !important;
}
.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
ul.top_profiles {
  height: 330px;
  width: 100%;
}
ul.top_profiles li {
  margin: 0;
  padding: 3px 5px;
}
ul.top_profiles li:nth-child(odd) {
  background-color: #eee;
}
.media .profile_thumb {
  border: 1px solid;
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 0;
  border-radius: 50%;
  padding: 9px 12px;
}
.media .profile_thumb i {
  font-size: 30px;
}
.media .date {
  background: #ccc;
  width: 52px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 5px;
}
.media .date .month {
  margin: 0;
  text-align: center;
  color: #fff;
}
.media .date .day {
  text-align: center;
  color: #fff;
  font-size: 27px;
  margin: 0;
  line-height: 27px;
  font-weight: bold;
}
.event .media-body a.title {
  font-weight: bold;
}
.event .media-body p {
  margin-bottom: 0;
}
h4.graph_title {
  margin: 7px;
  text-align: center;
}

/* *********  /widgets  *************************************** */


/** tile stats **/
.tile-stats {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  background: #FFF;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.tile-stats:hover .icon i {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  color: rgba(58, 58, 58, 0.41);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}

.tile-stats .icon {
  width: 20px;
  height: 20px;
  color: #BAB8B8;
  position: absolute;
  right: 53px;
  top: 22px;
  z-index: 1;
}

.tile-stats .icon i {
  margin: 0;
  font-size: 60px;
  line-height: 0;
  vertical-align: bottom;
  padding: 0;
}

.tile-stats .count {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.65857143
}

.tile-stats .count, .tile-stats h3, .tile-stats p {
  position: relative;
  margin: 0;
  margin-left: 10px;
  z-index: 5;
  padding: 0;
}

.tile-stats h3 {
  color: #BAB8B8;
}

.tile-stats p {
  margin-top: 5px;
  font-size: 12px;
}


table.tile_info {
  padding: 10px 15px;
}

table.tile_info span.right {
  margin-right: 0;
  float: right;
  position: absolute;
  right: 4%;
}

.tile:hover {
  text-decoration: none;
}

.tile_header {
  border-bottom: transparent;
  padding: 7px 15px;
  margin-bottom: 15px;
  background: #E7E7E7;
}

.tile_head h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.tiles-bottom {
  padding: 5px 10px;
  margin-top: 10px;
  background: rgba(194, 194, 194, 0.3);
  text-align: left;
}

/** /tile stats **/


/* ***** buttons ********/
.btn{
  border-radius: 0;
}
.btn-default{
  margin: 0 0 0 0;
  color: @teal;
  background-color: @white;
  border: 2px solid @teal;
  border-radius: 0;
  font-weight: 500;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn-default:hover
, .btn-default:focus
, .btn-default:active
, .btn-default:active:hover
, .btn-default.active:hover
, .open > .dropdown-toggle.btn-default:hover
, .btn-default:active:focus
, .btn-default.active:focus
, .open > .dropdown-toggle.btn-default:focus
, .btn-default.focus:active
, .btn-default.active.focus
, .open > .dropdown-toggle.btn-default.focus{
  color: @white;
  background-color:@teal;
  border: 2px solid @teal;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn.btn-default.dropdown-toggle{
  margin: 0 0 0 0;
  color: @black;
  background-color: @white;
  border: 2px solid @black;
  border-radius: 0;
  height: 35px;
  font-weight: 500;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn-default.dropdown-toggle:hover
, .btn-default.dropdown-toggle:focus
, .btn-default.dropdown-toggle:active
, .btn-default.dropdown-toggle:active:hover
, .btn-default.dropdown-toggle.active:hover
, .open > .dropdown-toggle.btn-default:hover
, .btn-default.dropdown-toggle:active:focus
, .btn-default.dropdown-toggle.active:focus
, .open > .dropdown-toggle.btn-default:focus
, .btn-default.dropdown-toggle.focus:active
, .btn-default.dropdown-toggle.active.focus
, .open > .dropdown-toggle.btn-default.focus{
  color: @white;
  background-color:@black;
  border: 2px solid @black;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn-primary{
  margin: 0 2px 0 0;
  color: @white;
  background-color: @teal;
  border: 2px solid @teal;
  border-radius: 0;
  font-weight: 500;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.btn-primary:hover
, .btn-primary:focus
, .btn-primary:active
, .btn-primary:active:hover
, .btn-primary.active:hover
, .open > .dropdown-toggle.btn-primary:hover
, .btn-primary:active:focus
, .btn-primary.active:focus
, .open > .dropdown-toggle.btn-primary:focus
, .btn-primary.focus:active
, .btn-primary.active.focus
, .open > .dropdown-toggle.btn-primary.focus{
  color: @teal;
  background-color:@white;
  border: 2px solid @teal;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.top_nav .dropdown .btn-primary {
    margin: 0;
    min-width: 240px;
    font-size: 16px;
    border: none;
    line-height: 56px;
    padding:0;
}
.top_nav .btn-primary:active,
.top_nav .btn-primary.active,
.top_nav .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
.dropdown .btn-primary{
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-success {
  background: @success;
  border: 1px solid @white;
}
.btn-dark {
  color: #E9EDEF;
  background-color: #4B5F71;
  border-color: #364B5F;
}
.btn-dark:hover, .btn-dark:focus,
.btn-dark:active, .btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #FFFFFF;
  background-color: #394D5F;
  border-color: #394D5F;
}
.btn-round {
  border-radius: 30px;
}
.btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 12px;
}
.btn.btn-app > .glyphicon,
.btn.btn-app > .glyphicon,
.btn.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn.btn-app:active, .btn.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
/* ***** /buttons *******/
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 2px solid #000000;
     border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control.inline {
    display: inline;
    width: auto;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 2px solid #000000;
     border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* *********  /form design  **************************** */


/* *********  glyphicons  **************************** */
.bs-glyphicons {
  margin: 0 -10px 20px;
  overflow: hidden
}
.bs-glyphicons-list {
  padding-left: 0;
  list-style: none
}
.bs-glyphicons li {
  float: left;
  width: 25%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff
}
.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px
}
.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word
}
.bs-glyphicons li:hover {
  color: #fff;
  background-color: @teal
}
@media (min-width: 768px) {
  .bs-glyphicons {
    margin-right: 0;
    margin-left: 0
  }
  .bs-glyphicons li {
    width: 12.5%;
    font-size: 12px
  }
}
/* *********  /glyphicons  **************************** */


/* *********  widgets  **************************** */
.dashboard_graph .x_title {
  padding: 5px 5px 7px;
}
.dashboard_graph .x_title h3 {
  margin: 0;
  font-weight: normal;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-size: 18px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
ul.count2 {
  width: 100%;
  margin-left: 1px;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
}
ul.count2 li {
  width: 30%;
  text-align: center;
}
ul.count2 li h3 {
  font-weight: 400;
  margin: 0;
}
ul.count2 li span {
  font-weight: 300;
}
/* *********  /widgets  **************************** */
.divider {
  border-bottom: 1px solid #ddd;
  margin: 10px;
}
.divider-dashed {
  border-top: 1px dashed #e7eaec;
  background-color: #ffffff;
  height: 1px;
  margin: 10px 0;
}
/* *********  start nprogress  **************************** */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* *********  end nprogress  **************************** */
/** /Normalize.css **/
/*----------------------------------*/
/*---        NAV MENU STUFF       --*/
/*----------------------------------*/
@full-height: 100%;
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
  #sidebar-wrapper {
    width: 220px;
  }
  #page-content-wrapper {
    margin-right: -220px;
    position: absolute;
  }
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #001217;
  height: @full-height;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  &::-webkit-scrollbar {
    display: none;
  }
}
#page-content-wrapper {
  padding-top: 70px;
  width: @full-width;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
// HAMBURGER COLOR
@hamburger-color-closed: fadeout(darkblue, 30);
@hamburger-color-open: darkblue;
// WIDTH VARIABLES
@width2: 100px;
@full-width: 100%;
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
.hamburger.is-closed {
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: @width2;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
    .hamb-top {
      -webkit-transition: all .35s ease-in-out;
      top: 0;
    }
    .hamb-bottom {
      -webkit-transition: all .35s ease-in-out;
      bottom: 0;
    }
  }
  .hamb-top {
    -webkit-transition: all .35s ease-in-out;
    background-color: @hamburger-color-closed;
    top: 5px;
  }
  .hamb-middle {
    background-color: @hamburger-color-closed;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-bottom {
    -webkit-transition: all .35s ease-in-out;
    background-color: @hamburger-color-closed;
    bottom: 5px;
  }
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom  {
  height: 4px;
  left: 0;
  position: absolute;
  width: @full-width;
}
.hamburger.is-open {
  .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: @hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  .hamb-middle {
    background-color: @hamburger-color-open;
    display: none;
  }
  .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    // background-color: #1a1a1a;
    background-color: @hamburger-color-open;
    margin-top: -2px;
    top: 50%;
  }
  &:before {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: @width2;
  }
  &:hover {
    before {
      -webkit-transform: translate3d(-100px,0,0);
      -webkit-transition: all .35s ease-in-out;
      display: block;
      opacity: 1;
    }
  }
}
/** bootstrap-progressbar  **/
.progress {
  border-radius: 0;
}
.progress-bar {
  background-color: @teal;
}
.progress-bar-info {
  background-color: @teal;
}
.progress-bar-success {
    background-color: #26B99A;
}
.progress_summary .progress {
  margin: 5px 0 12px !important;
}
.progress_summary .row {
  margin-bottom: 5px;
}
.progress_summary .row .col-xs-2 {
  padding: 0
}
.progress_summary .more_info span {
  text-align: right;
  float: right;
}
.progress_summary .data span {
  text-align: right;
  float: right;
}
.progress_summary p {
  margin-bottom: 3px;
  width: 100%;
}
.progress_title .left {
  float: left;
  text-align: left;
}
.progress_title .right {
  float: right;
  text-align: right;
  font-weight: 300;
}
.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
  height: 10px !important;
}
.progress.progress_sm .progress-bar {
  height: 10px !important;
}
.dashboard_graph p {
  margin: 0 0 4px;
}
.progress.vertical.progress_wide {
  width: 35px;
}
/** bootstrap-progressbar  **/
.versionnumber{
  position: relative;
  right: 0;
  bottom: 0;
  float: right;
}
