<template name="topnav">
  <!-- top navigation -->
  <div class="top_nav">
    <div class="nav_menu">
      <nav class="" role="navigation">
        <div class="tabbable">
          <div class="nav toggle">
            <a id="menu_toggle" data-toggle="collapse" data-target="#sidenavbar" style="z-index:999;"><i  class="glyphicon glyphicon-menu-hamburger" ></i></a>
          </div>
          <ul class="nav nav-tabs">
            <!-- setup for top nav tabs
            <li role="presentation" class="active" ><a href="#" data-toggle="tab"><i class=""> </i>Section 1</a></li>
            <li role="presentation" ><a href="#" data-toggle="tab"><i class=""> </i>Section 2</a></li>
          -->
            <li id="wkspcddl" role="presentation" class="dropdown">
              <a class="btn btn-primary dropdown-toggle wkspcddlbtn" style="width:300px;margin: 0 auto;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-plus"></i>
                  {{#if hasWorkspace}}
                    {{getWorkspace}}
                  {{else}}
                    Workspaces
                  {{/if}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu wkspcddl" style="margin-top:-2px;margin-right:1px;">
                {{#if Template.subscriptionsReady}}
                  {{#each workspaces}}
                    {{> workspaceli}}
                  {{else}}
                    <li><a href="/admin/workspaces"> Click here to add a workspace!</a></li>
                  {{/each}}
                {{/if}}
              </ul>
            </li>
          </ul>
          <div class="dropdown">
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<template name="workspaceli">
  <li value="{{id}}"><a href="#" style="width:298px;" >{{name}}</a></li>
</template>
