<template name="sidenav">
  <div id="sidenavbar" class="left_col collapse in">
    <div  class="scroll-view" role="navigation">
      <div class="navbar nav_title">
        <a href="/" class="site_title"><img src="/images/logo-header-white.png" alt="..."></a>
      </div>
      <div class="clearfix"></div>
      <!-- menu profile quick info -->
      <div class="profile col-md-2 col-sm-3 col-xs-3">
        <div class="profile_pic">
          <img src="/images/user.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>{{user_name}}</h2>
        </div>
      </div>
      <!-- /menu profile quick info -->
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" role="navigation">
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a href="/" class="active"><i class="glyphicon glyphicon-dashboard"></i> Dashboard <span class="glyphicon glyphicon-chevron-down pull-right"></span></a></li>
            <li ><a href="/setup" data-toggle="collapse" data-target="#childsetup"><i class="glyphicon glyphicon-wrench"></i> Setup <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
              <ul id="childsetup" class="nav child_menu collapse">
                <li><a href="/setup/connect"><i class="glyphicon glyphicon-link"></i> Connect</a></li>
                <li><a href="/setup/collect"><i class="glyphicon glyphicon-cloud-download"></i> Collect</a></li>
                <!--<li><a href="/setup/create"><i class="glyphicon glyphicon-cloud-download"></i> Create</a></li>-->
                <li><a href="/setup/match"><i class="glyphicon glyphicon-resize-small"></i> Match</a></li>
                <li><a href="/setup/align"><i class="glyphicon glyphicon-random"></i> Align</a></li>
              </ul>
            </li>
            <li><a href="/data" data-toggle="collapse" data-target="#childdata"><i class="glyphicon glyphicon-cloud"></i> Data <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
              <ul id="childdata" class="nav child_menu collapse">
                <li><a href="/data/analyze"><i class="glyphicon glyphicon-warning-sign"></i> Analyze</a></li>
                <li><a href="/data/fix"><i class="glyphicon glyphicon-stats"></i> Fix</a></li>
                <li><a href="/data/sync"><i class="glyphicon glyphicon-transfer"></i> Sync</a></li>
                <li><a href="/data/schedule"><i class="glyphicon glyphicon-calendar"></i> Schedule</a></li>
                <li><a href="/data/search"><i class="glyphicon glyphicon-search"></i> Search</a></li>
              </ul>
            </li>
            <li><a href="/admin" data-toggle="collapse" data-target="#childadmin"><i class="glyphicon glyphicon-cog"></i> Admin <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
              <ul id="childadmin" class="nav child_menu collapse">
                <li><a href="/admin/workspaces"><i class="glyphicon glyphicon-tasks"></i> Workspaces</a></li>
                <li><a href="/admin/users"><i class="glyphicon glyphicon-user"></i> Users</a></li>
                <li><a href="/admin/groups"><i class="glyphicon glyphicon-align-center"></i> Groups</a></li>
                <li><a href="/admin/agents"><i class="glyphicon glyphicon-pawn"></i> Agents</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="menu_section">
          <ul class="nav side-menu">
            <li><a href="/test" data-toggle="collapse" data-target="#childtest"><i class="glyphicon glyphicon-cog"></i> Testing <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
              <ul id="childtest" class="nav child_menu collapse">
                <li><a href="/test"><i class="glyphicon glyphicon-tasks"></i> Test 1</a></li>
                <li><a href="/test2"><i class="glyphicon glyphicon-user"></i> Test 2</a></li>
                <li><a href="/test3"><i class="glyphicon glyphicon-align-center"></i> Test 3</a></li>
                <li><a href="/test4"><i class="glyphicon glyphicon-pawn"></i> Test 4</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /sidebar menu -->
    </div>
  </div>
</template>
