<template name="topnav">
  <!-- top navigation -->
  <nav class="top_nav" role="navigation">
    <div class="nav toggle">
      <a id="menu_toggle" data-toggle="collapse" data-target="#sidenavbar" style="z-index:999;"><i  class="glyphicon glyphicon-menu-hamburger" ></i></a>
    </div>
    <div class="dropdown inline-center">
      <button class="btn btn-primary dropdown-toggle wkspcddlbtn" type="button" data-toggle="dropdown">
        {{#if hasWorkspace}}
          {{getWorkspace}}
        {{else}}
          Workspaces
        {{/if}}
      <span class="caret"></span></button>
      <ul class="dropdown-menu wkspcddl">
        {{#if Template.subscriptionsReady}}
          {{#each workspaces}}
            {{> workspaceli}}
          {{else}}
            <li><a href="/admin/workspaces"> Click here to add a workspace!</a></li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
  </nav>
</template>

<template name="workspaceli">
  <li value="{{_id}}"><a href="#">{{name}}</a></li>
</template>
