<template name="fixconfirmmodal">
  <div class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        {{#with vertify_object}}
        <div class="modal-header">
          <h3 class="modal-title">Detect / {{name}}
            <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
          </h3>
        </div>
        <div class="modal-body">
          <!-- TODO: replace with error template -->
          <div id="addErrModal" class="alert alert-danger" style="display:none;"></div>
            <h2>
              Vertify will now attempt to fix the selected records in each system using the action selected.
              <br />
              <br />
              Records to Fix: {{getRecords _id}}<br/>
              Affected Systems:
                {{#each eo in external_objects}}
                  {{getSystemNames eo._id}}
                {{else}}
                  Error
                {{/each}}<br/>
              Action: {{getActionDescription}}<br/>
            </h2><br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal" >Cancel</button>
          <button type="button" class="btn btn-primary pull-right" id="save">Fix</button>
        </div>
        {{/with}}
      </div>
    </div>
  </div>
</template>
