<template name="matchconfirmmodal">

  <div class="modal fade">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Match Confirmation
              <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
            </h3>
          </div>

          <div class="modal-body">
            <!-- TODO: replace with error template -->
            <div id="addErrModal" class="alert alert-danger" style="display:none;"></div>
            {{#if Template.subscriptionsReady}}
              {{#with match_results}}
                <h2>
                  By accepting the match, Vertify will begin matching all records against the system of truth.<br />
                  <br /><br />
                  <strong>System of truth:</strong><br />
                    {{systemOfTruth id}}<br /><br />
                  <strong>Records to Match:</strong><br />
                    {{systemOfTruthRecords id}}<br />
                  <br />
                  <br />
                  <div class="row" style="padding:10px;">
                    <strong>Match Against:</strong><br />
                      {{getExternalObjectInfo external_object_id}}<br/>
                  </div>
                </h2>
              {{/with}}
            {{/if}}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save">Confirm Match</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
          </div>
        </div>
      </div>
  </div>

</template>
