<template name="usereditconfigmodal">
  <div class="modal fade">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">User Config
            <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
          </h3>
        </div>
        <div class="modal-body">
          <div id="editErrUserModal" class="alert alert-danger" style="display:none;"></div>
          {{#with userConfig}}
            <label for="workspace">Workspace</label>
            <input id="workspace" type="text" class="form-control" name="workspace" value="{{workspace}}" autofocus/>
            <label for="route">Route</label>
            <input id="route" type="text" class="form-control" name="route" value="{{route}}" />
          {{/with}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal" >Cancel</button>
          <button type="button" class="btn btn-primary pull-right" id="save">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
