<template name="matchconfirmmodal">

  <div class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Match Confirmation
              <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
            </h3>
          </div>

          <div class="modal-body">
            TODO: update this page with data from match results<br />
            <br />
            By accepting the match, Vertify will begin matching all records against the system of truth.<br />
            <br />
            System of truth: SF Lead<br />
            Records to Match: 100,000<br />
            <br />
            <strong>Match Against:</strong><br />
            - NS Customer 30,000 records<br />
            - MK LeadRecords 125,000 records<br />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save">Confirm Match</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
          </div>
        </div>
      </div>
  </div>

</template>
