<template name="analyzeconfirmmodal">

  <div class="modal fade">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Analyze Confirmation
              <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
            </h3>
          </div>

          <div class="modal-body">
            <!-- TODO: replace with error template -->
            <div id="addErrModal" class="alert alert-danger" style="display:none;"></div>
              <h2>
                Ready to enable real-time analysis? This process runs in real-time and automatically finds records and fields that do not match the designated system of truth.
                This happens whenever changes are detected in a system.
                <br />
                <br />
                When enabled, an initial analysis of truth is performed. From that point forward, the process runs automatically in real-time whenever data changes are detected until the process is disabled.
                <br />
                <br />
                If you later decide to alter your workspace setup, you will need to disable real-time analysis.
              </h2><br />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save">Enable Analysis</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
          </div>
        </div>
      </div>
  </div>

</template>
