<template name="wsaddmodal">

  <div class="modal fade">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Add a Workspace
              <button type="button" class="btn btn-primary pull-right" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
            </h3>
          </div>

          <div class="modal-body">
            <label for="name">Workspace Name</label><label id="nameerror" style="color:red; display:none;"><i class="glyphicon glyphicon-asterisk">required</i></label>
            <input id="name" type="text" class="form-control" name="name" value=""  />

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
          </div>
        </div>
      </div>
  </div>

</template>
